<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/index.css">
        <link rel="icon" type="image/x-icon"
            href="https://cdn-icons-png.flaticon.com/512/124/124564.png">
        <title>Header</title>
    </head>

    <body>
        <nav>
            <header>
                <a href="../pages/index.html">
                     <img class="logo"
                    src="https://cdn-icons-png.flaticon.com/512/947/947683.png"
                    alt="logo">
                </a>
               

                <ul class="nav_links">

                    <li><a href="./planets.html">Planets</a></li>
                    <li><a href="./createPlanet.html">Create</a></li>
                    <li><a href="./profile.html">Profile</a></li>

                </ul>

                <a class="btn1" href="./login.html"><button>Login</button></a>
                <a class="btn2" href="./register.html"><button>Register</button></a>  
          </header>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>The Space</h1>
                    <p>Welcome to our celestial journey through the cosmos! This website 
                        is a labor of love dedicated to exploring the fascinating worlds of Planets and Moons.
                        From the majestic giants of our solar system to the enigmatic icy moons, we aim to provide a comprehensive and awe-inspiring 
                        collection of information, images, and facts about these celestial wonders.
                    </p>
                   
                </div>
                <div class="col">
                     <img class="planet"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/HD_189733_b.png/1200px-HD_189733_b.png" 
                    alt="planet">
                </div>
            </div>
            <footer>
                <div class=”footer-content”>
                    <h3>The Space</h3>
                    <p>The Space is a site for curious and intrigued people who want to know more about the planets and moons. 
                       Our mission is to ignite curiosity and foster a deeper appreciation for the wonders of space.
                    </p>
                <ul class="social">
                    <li><a href="#"><i class='fa fa-facebook-square'></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
                </div>
                <div class="footer-bottom">
                    <p>copyright &copy;2024 The Space. Designed by <span>Simona</span></p>
                </div>
            </footer>
    </body>
</html>