<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/planets.css">
    <title>Planets</title>
</head>
<body> 
    <nav>
        <header>
            <a href="../pages/index.html">
                 <img class="logo"
                src="https://cdn-icons-png.flaticon.com/512/947/947683.png"
                alt="logo">
            </a>
           

            <ul class="nav_links">

                <li><a href="./planets.html">Planets</a></li>
                <li><a href="./createPlanet.html">Create</a></li>
                <li><a href="./profile.html">Profile</a></li>

            </ul>

            <a class="btn1" href="./login.html"><button>Login</button></a>
            <a class="btn2" href="./register.html"><button>Register</button></a>  
      </header>
</nav>

   
        <div class="title">
            <h1>PLANETS</h1>
        </div>
        <div class="dynamic-data">

       
            <div class="planets">
                <div class="palnet">
                    <div class="image">
                        <a href="../pages/onePlanet.html">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnRDMXzG1ouG1xzCJwQ6z81BmitW9cqSPE5QI3PqRjZdWlZeMQij1KW2Dql34vnyEaa2Y&usqp=CAU" 
                        alt="img">
                        </a>
                        <div class="planets-name">
                            <a href="../pages/onePlanet.html">
                                <h4>Jupiter</h4>
                            </a>
                        </div>
                    </div> 
                </div>
                
            </div>

           
        
        </div>
        <footer>
            <div class=”footer-content”>
                <h3>The Space</h3>
                <p>The Space is a site for curious and intrigued people who want to know more about the planets and moons. 
                   Our mission is to ignite curiosity and foster a deeper appreciation for the wonders of space.
                </p>
            <ul class="social">
                <li><a href="#"><i class='fa fa-facebook-square'></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy;2023 The Space. Designed by <span>Simona</span></p>
            </div>
        </footer>
    
</body>
</html>