<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/register.css">
    <title>Register</title>
</head>
<body>
  <nav>
    <header>
      <a href="../pages/index.html">
           <img class="logo"
          src="https://cdn-icons-png.flaticon.com/512/947/947683.png"
          alt="logo">
      </a>
     

      <ul class="nav_links">

          <li><a href="./planets.html">Planets</a></li>
          <li><a href="./createPlanet.html">Create</a></li>
          <li><a href="./profile.html">Profile</a></li>

      </ul>

      <a class="btn1" href="./login.html"><button>Login</button></a>
      <a class="btn2" href="./register.html"><button>Register</button></a>  
</header>
</nav>
    <div class="container">
        
    <form class="form" method="post">
        <div class="form-title"><span>Register to your</span></div>
         <div class="title-2"><span>SPACE</span></div>
         <div class="input-container">
            <input class="input-username" type="username" placeholder="Enter username">
          </div>
         <div class="input-container">
           <input class="input-mail" type="email" placeholder="Enter email">
           <span> </span>
         </div>
         <div class="input-container">
           <input class="input-pwd" type="password" placeholder="Enter password">
         </div>
         <div class="input-container">
            <input class="input-re-pwd" type="re-password" placeholder="Repeat password">
          </div>
         <button type="submit" class="submit">
           <span class="sign-text">Register</span>
         </button>
   
         <p class="signup-link">
           Have accaunt?
           <a href="../pages/login.html" class="up">Login</a>
         </p>
          
      </form>
   
    </div>
    <footer>
      <div class=”footer-content”>
          <h3>The Space</h3>
          <p>The Space is a site for curious and intrigued people who want to know more about the planets and moons. 
             Our mission is to ignite curiosity and foster a deeper appreciation for the wonders of space.
          </p>
      <ul class="social">
          <li><a href="#"><i class='fa fa-facebook-square'></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
      </ul>
      </div>
      <div class="footer-bottom">
          <p>copyright &copy;2023 The Space. Designed by <span>Simona</span></p>
      </div>
  </footer>
</body>
</html>