@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?cs=srgb&dl=pexels-francesco-ungaro-998641.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  .profile-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .profile_img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .personal {
    text-align: center;
    margin-top: 20px;
  }
  
  .edit p {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0;
  }
  
  .email {
    font-size: 16px;
    color: #fff;
    margin: 5px 0;
  }
  
  .dynamic-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .planets,
  .moons {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 20%;
    flex-wrap: wrap;
    align-content: space-around;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 1s ease;
  }
  
  .planets img,
  .moons img {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .planets:hover ,
  .moons:hover  {
    border: 2px solid #fff;
    -webkit-box-shadow: rgb(76, 0, 255) 0px 0px 50px -15px;
    box-shadow: rgb(238, 238, 243) 0px 0px 50px -15px;
    overflow: hidden;
    z-index: +1;
    transform: scale(1.1);
    transition: transform 1s ease;
  }
  
  .not-available-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    color: #fff;
    font-size: 24px;
  }
  
  .not-available-photo h1 {
    margin: 0;
  }
  .not-available-photo a {
    display: inline-block;
    margin-inline: 10px;
    margin-top: 10px;
    text-decoration: none;
    color:rgba(0, 135, 169, 1);
    font-weight: bold;
    transition: color 0.3s ease;
}
.not-available-photo a:first-child {
  margin-right: 20px;
}

.not-available-photo a:hover {
    color: #c0c6e9;
}
  
  /* Small Astronaut Animation */
  @keyframes floatAstronaut {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  /* Fade In Animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .profile-data,
  .dynamic-data {
    animation: fadeIn 2s;
  }
  .edit-profile-button {
    margin-top: 20px;
    text-align: center;
  }
  
  .edit-profile-button button {
    padding: 9px 25px;
    font-weight: 500; 
    font-size: 16px;
    background-color: rgba(0, 135, 169, 1); 
    color: white; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: all 0.3s ease 0s;
  }
  .edit-profile-button button:hover {
    background-color: rgba(0, 135, 169, 0.041); /* Change the background color on hover to match your design */
    border: #fff;
    border-style: solid;
    transition: all 0.1s ease 0s;
  }
 
  
  
  