<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./404.css">
    <title>404 Error - Page Not Found</title>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="https://static.vecteezy.com/system/resources/previews/025/313/510/original/coconut-cocktail-with-pink-flowers-and-straw-coconut-drink-in-cartoon-style-illustration-isolated-on-transparent-background-png.png" alt="Cocktail">
        </div>
        <h1>404 Error</h1>
        <p>Oops! The page you are looking for could not be found.</p>
        <a href="/">Go to Home</a>
    </div>
</body>
</html>