<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>The Space</h1>
                <p>Welcome to our celestial journey through the cosmos! This website 
                    is a labor of love dedicated to exploring the fascinating worlds of Planets and Moons.
                    From the majestic giants of our solar system to the enigmatic icy moons, we aim to provide a comprehensive and awe-inspiring 
                    collection of information, images, and facts about these celestial wonders.
                </p>
               
            </div>
            <div class="col">
                 <img class="planet"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/HD_189733_b.png/1200px-HD_189733_b.png" 
                alt="planet">
            </div>
        </div>
    </div>
    
</body>
</html>