<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./editProfile.css">
    <title>EditProfile</title>
</head>
<body>
  <nav>
    <header>
        <img class="logo"
            src="https://cdn-icons-png.flaticon.com/512/947/947683.png"
            alt="logo">

        <ul class="nav_links">

            <li><a href="#">Planets</a></li>
            <li><a href="#">Moons</a></li>
            <li><a href="#">Create</a></li>
            <li><a href="#">Profile</a></li>

        </ul>

        <a class="btn1" href="#"><button>Login</button></a>
        <a class="btn2" href="#"><button>Register</button></a>  
  </header>
</nav>
    <div class="container">
        
    <form class="form" method="post">
        <div class="form-title"><span>Edit your</span></div>
         <div class="title-2"><span>PROFILE</span></div>
         <div class="input-container">
            <input class="input-username" type="username" placeholder="Enter your new username" value="simona">
            <span> </span>
          </div>
         <div class="input-container">
           <input class="input-mail" type="email" placeholder="Enter your new email" value="simona@abv">
           <span> </span>
         </div>
        
         <button type="submit" class="submit">
           <span class="sign-text">Edit</span>
         </button> 
      </form>
   
    </div>
    <footer>
      <div class=”footer-content”>
          <h3>The Space</h3>
          <p>The Space is a site for curious and intrigued people who want to know more about the planets and moons. 
             Our mission is to ignite curiosity and foster a deeper appreciation for the wonders of space.
          </p>
      <ul class="social">
          <li><a href="#"><i class='fa fa-facebook-square'></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
      </ul>
      </div>
      <div class="footer-bottom">
          <p>copyright &copy;2023 The Space. Designed by <span>Simona</span></p>
      </div>
  </footer>
</body>
</html>