@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000; /* Set black background */
    margin: 0;
    padding: 0;
}

.container {
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    padding-top: 100px;
    padding-left: 150px;;
    overflow: hidden;
    
}

.moon-info {
    flex: 1;
    padding-right: 90px;
}

.name {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.overview {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 20px;
}

.like button {
    background-color:rgba(0, 135, 169, 1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like button:hover {
    background-color: #000280;
}
.like p{
    color: #fff;
}

.moon-image {
    max-width: 500px;
    max-height: 450px;
    padding-left: 150px;
    padding-right: 50px;
    padding-bottom: 50px;
    flex: 1.5;
    text-align: right; /* Align image to the right */
    overflow: hidden;
}

.moon-image img {
    border-radius: 30%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    animation: floatAstronaut 3s infinite ease-in-out
}

.moon-image img:hover {
    transform: scale(1.1);
}

.owner {
    
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.owner a {
    background-color:rgba(0, 135, 169, 1);
    max-width: 1000px;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    bottom: auto;
    font-size: 14px;
    text-decoration: none;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.owner a:hover {
    background-color: #000280;
}

@keyframes floatAstronaut {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
      transform: translate3d(+10px);
    }
    100% {
      transform: translateY(0);
    }
  }
