<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cocktails.css">
    <title>Cocktails</title>
</head>
<body>
   
        <div class="title">
            <h1>COCKTAILS</h1>
        </div>
        <div class="dynamic-data">

       
            <div class="cocktails">
                <div class="cocktail">
                    <div class="image">
                        <a href="#">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/22/10/assets-1296892_1280.png" 
                        alt="img">
                        </a>
                        <div class="cocktails-name">
                            <a href="#">
                                <h4>Strawberry daiquiri</h4>
                            </a>
                        </div>
                    </div> 
                </div>
                
            </div>

            <article class="not-available-photo">
                
                    <h3>No uploaded cocktails yet!</h3>
                    <a href="#">Create cocktail</a>
                
            </article>
        
        </div>
    
    
</body>
</html>