<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./planets.css">
    <title>Planets</title>
</head>
<body>
   
        <div class="title">
            <h1>PLANETS</h1>
        </div>
        <div class="dynamic-data">

       
            <div class="planets">
                <div class="palnet">
                    <div class="image">
                        <a href="#">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnRDMXzG1ouG1xzCJwQ6z81BmitW9cqSPE5QI3PqRjZdWlZeMQij1KW2Dql34vnyEaa2Y&usqp=CAU" 
                        alt="img">
                        </a>
                        <div class="planets-name">
                            <a href="#">
                                <h4>Jupiter</h4>
                            </a>
                        </div>
                    </div> 
                </div>
                
            </div>

            <article class="not-available-photo">
                
                    <h3>No uploaded Planet yet!</h3>
                    <a href="#">Create Planet</a>
                
            </article>
        
        </div>
    
    
</body>
</html>