<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./moons.css">
    <title>Moons</title>
</head>
<body>
   
        <div class="title">
            <h1>Moons</h1>
        </div>
        <div class="dynamic-data">

       
            <div class="moons">
                <div class="moon">
                    <div class="image">
                        <a href="#">
                            <img src="https://solarsystem.nasa.gov/system/stellar_items/image_files/1167_feature_1600x900_hpx.jpg" 
                        alt="img">
                        </a>
                        <div class="moons-name">
                            <a href="#">
                                <h4>Lune</h4>
                            </a>
                        </div>
                    </div> 
                </div>
                
            </div>

            <article class="not-available-photo">
                
                    <h3>No uploaded Moons yet!</h3>
                    <a href="#">Create Moons</a>
                
            </article>
        
        </div>
    
    
</body>
</html>