<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        
    <form class="form" method="post">
        <div class="form-title"><span>Login to your</span></div>
         <div class="title-2"><span>SPACE</span></div>
         <div class="input-container">
           <input class="input-mail" type="email" placeholder="Enter email">
           <span> </span>
         </div>
         <div class="input-container">
           <input class="input-pwd" type="password" placeholder="Enter password">
         </div>
         <button type="submit" class="submit">
           <span class="sign-text">Login</span>
         </button>
   
         <p class="signup-link">
           No account?
           <a href="" class="up">Register</a>
         </p>
          
      </form>
   
    </div>
</body>
</html>