<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./oneCocktail.css">
        <title>One Cocktail</title>
    </head>
    <body>
        <div class="container">
            <div class="cocktail">
                <div class="name">
                    <h1>Strawberry daiquiri</h1>
                </div>
                <div class="cocktail-ingredients">
                    <h3>Ingredients:</h2>
                    <p>Rum, Strawberries, Lemon juice, Sugar syrup</p>
                </div>
                <div class="method-of-preparation">
                    <h3>Method of preparation:</h3>
                    <p>
                        Pour everything into a blender. Put ice and blend on ice mode
                    </p>
                </div>
                <div class="subscribe">
                    <button>Subscribe</button>
                    <p>
                        Subscribes: 2
                    </p>
                </div>
            </div>

            <div class="cocktail-image">
                <img
                    src="https://cdn.pixabay.com/photo/2016/03/31/22/10/assets-1296892_1280.png"
                    alt="Strawberry daiquiri">
            </div> 
            
        </div>
          <div class="owner">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </div>
    </body>
</html>