<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./createPlanet.css">
    <title>Create Planet</title>
</head>
<body>
    <div class="container">
        
    <form class="form" method="post">
        <div class="form-title"><span>Create your</span></div>
         <div class="title-2"><span>Planet</span></div>
         <div class="input-container">
            <input class="input-name" type="text" placeholder="Enter Planet name">
          </div>
         <div class="input-container">
           <input class="input-img" type="text" placeholder="Enter image url">
           <span> </span>
         </div>
         <div class="input-container">
            <input class="input-planet-type" type="text" placeholder="Enter Planet type">
          </div>
         <div class="input-container">
            <textarea class="input-overview" type="text" placeholder="Enter Planet overview"></textarea>
         </div>
         <button type="submit" class="submit">
           <span class="sign-text">Create</span>
         </button>
      </form>
   
    </div>
</body>
</html>