<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./heather.css">
        <link rel="icon" type="image/x-icon"
            href="https://cdn-icons-png.flaticon.com/512/124/124564.png">
        <title>Header</title>
    </head>

    <body>
        <nav>
            <header>
                <img class="logo"
                    src="https://cdn-icons-png.flaticon.com/512/947/947683.png"
                    alt="logo">

                <ul class="nav_links">

                    <li><a href="#">Planets</a></li>
                    <li><a href="#">Moons</a></li>
                    <li><a href="#">Create</a></li>
                    <li><a href="#">Profile</a></li>

                </ul>

                <a class="btn1" href="#"><button>Login</button></a>
                <a class="btn2" href="#"><button>Register</button></a>  
          </header>
        </nav>
    </body>
</html>