<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./editPlanet.css">
    <title>Edit Planet</title>
</head>
<body>
    <div class="container">
        
    <form class="form" method="post">
        <div class="form-title"><span>Edit your</span></div>
         <div class="title-2"><span>Planet</span></div>
         <div class="input-container">
            <input class="input-name" type="text" placeholder="Enter Planet name" value="Jupiter">
          </div>
         <div class="input-container">
           <input class="input-img" type="text" placeholder="Enter image url" value="imgUrl">
           <span> </span>
         </div>
         <div class="input-container">
            <input class="input-planet-type" type="text" placeholder="Enter Planet type" value="Giant">
          </div>
         <div class="input-container">
            <textarea class="input-overview" type="text" placeholder="Enter Planet overview">Overview...</textarea>
         </div>
         <button type="submit" class="submit">
           <span class="sign-text">Edit</span>
         </button>
      </form>
   
    </div>
</body>
</html>