<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./createCocktail.css">
    <title>Create Cocktail</title>
</head>
<body>
    <div class="container">
        
    <form class="form" method="post">
        <div class="form-title"><span>Create your</span></div>
         <div class="title-2"><span>Cocktail</span></div>
         <div class="input-container">
            <input class="input-name" type="text" placeholder="Enter cocktail name">
          </div>
         <div class="input-container">
           <input class="input-img" type="text" placeholder="Enter image url">
           <span> </span>
         </div>
         <div class="input-container">
          <textarea class="input-cocktail-ingredients" type="text" placeholder="Enter Planet cocktail ingredients"></textarea>
          </div>
         <div class="input-container">
            <textarea class="input-method-of-preparation" type="text" placeholder="Enter Planet method of preparation"></textarea>
         </div>
         <button type="submit" class="submit">
           <span class="sign-text">Create</span>
         </button>
      </form>
   
    </div>
</body>
</html>