<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./onePlanet.css">
        <title>One Planet</title>
    </head>
    <body>
        <div class="container">
            <div class="planet-info">
                <div class="name">
                    <h1>Jupite</h1>
                </div>
                <div class="planet-type">
                    <h2>Planet type: Giant</h2>
                </div>
                <div class="overview">
                    <p>
                        Jupiter is the fifth planet from the Sun and the largest
                        in the Solar System. It is a gas giant with a mass more
                        than two and a half times
                    </p>
                </div>
                <div class="subscribe">
                    <button>Subscribe</button>
                    <p>
                        Subscribes: 2
                    </p>
                </div>
            </div>

            <div class="planet-image">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnRDMXzG1ouG1xzCJwQ6z81BmitW9cqSPE5QI3PqRjZdWlZeMQij1KW2Dql34vnyEaa2Y&usqp=CAU"
                    alt="Jupiter">
            </div> 
            
        </div>
          <div class="owner">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </div>
    </body>
</html>